@font-face {
    font-family: cryptcoffeefont; /* SOURCE: http://www.04.jp.org */
    src: url("../font/04b19/Font04B19.ttf") format('truetype');
}

@font-face {
    font-family: cryptcoffeemono;
    src: url("../font/FiraMono/FiraMono-Regular.otf");
}

body {
    background-color:black;
}

h1 {
    color: #7FFFD4;
    font-size-adjust:0.5;
    text-align:center;
    margin:0px 0px;
}

h2 {
    font-family: cryptcoffeefont;
    font-size: 60px;
    color:#7FFFD4;
    margin:0px 0px;
    text-align:center;
}

.ascii_table {
    font-family: cryptcoffeemono;
    font-size: 16px;
    letter-spacing: 0em;
    white-space: pre;
    color:#7FFFD4;
    margin-right: 6px;
    margin-left: 6px;
}

.footer {
    font-family: monospace;
    font-size: 10px;
    color:#7FFFD4;
}

.menu {
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    color:#7FFFD4;
}

a {
    text-decoration: none;
    color:#7FFFD4;
}

a:hover {
    color: red;
} 
